[submodule "Markov-Bot"]
	path = Markov-Bot
	url = https://github.com/jenningsje/Markov-Bot
[submodule "MarkovDocker5"]
	path = MarkovDocker5
	url = https://github.com/jenningsje/MarkovDocker5
[submodule "Download"]
	path = Download
	url = https://github.com/jenningsje/MarkovDocker5
[submodule "fetch-get"]
	path = fetch-get
	url = https://github.com/jenningsje/fetch-get
[submodule "MarkovASI"]
	path = MarkovASI
	url = https://github.com/jenningsje/MarkovASI
[submodule "spiderfoot"]
	path = spiderfoot
	url = https://github.com/jenningsje/spiderfoot
[submodule "Paywall"]
	path = Paywall
	url = https://github.com/jenningsje/MarkovPaywall
[submodule "external/react-login-form"]
	path = external/react-login-form
	url = https://github.com/jenningsje/react-login-form
[submodule "react-login-form"]
	path = react-login-form
	url = https://github.com/jenningsje/react-login-form
